#accesorios-container {
  margin-top: 30px;
}

#accesorios-buscar-container,
#accesorios-crear-container {
  margin-top: -30px;
}

.react-bs-table-sizePerPage-dropdown .dropdown-toggle {
  float: left;
  margin-bottom: 10px;
}

.search-label {
  float: right;
  padding-bottom: 10px;
}
.sr-only {
  font-size: 0;
}
#accesorios-crear-container .form-label {
  float: left;
  margin-bottom: 10px;
}
